{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% block head %} {{super()}} <link rel="stylesheet" href="{{url_for('static', filename='main_style.css')}}"> {% endblock head %}
{% block body %}
<div class="container">
<form method="post" action="/signup">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1">
    </div>
     
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>
{% endblock body %}